In [1]:
PATH = "D:\.VScode\SuperAI4\Image_captioning\submission_3.csv"

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv(PATH)

In [8]:
df.loc[3]

image_id                               test2017/000000480896
caption     จานอาหารสีขาวที่มีขนมปังและส้มวางอยู่ในจานบนโต๊ะ
Name: 3, dtype: object

In [6]:
f = lambda t: sum(df["caption"].apply(lambda x: str(x).find(t) != -1))

In [5]:
sum(df["caption"].apply(lambda x: str(x).find('หมี') != -1)), sum(df2["caption"].apply(lambda x: str(x).find('หมี') != -1))

(870, 929)

In [6]:
sum(df["caption"].apply(lambda x: str(x).find('สุนัข') != -1)), sum(df2["caption"].apply(lambda x: str(x).find('สุนัข') != -1))

(860, 959)

In [11]:
sum(df["caption"].apply(lambda x: str(x).find('แมว') != -1))

1359

In [12]:
sum(df["caption"].apply(lambda x: str(x).find('เด็กผู้หญิง') != -1))

925

In [5]:
df[df["caption"].apply(lambda x: str(x).find('ม่วง') != -1)]

,image_id,caption
134,test2017/000000093270,เด็กผู้หญิงสวมเสื้อแขนยาวสีม่วงกําลังกินกล้วยส...
329,test2017/000000492818,สุนัขตัวสีน้ําตาลกําลังนอนอยู่บนเตียงนอนสีม่วง
353,test2017/000000080986,เด็กผู้หญิง 3 คนสวมเสื้อสีชมพูและสีม่วงกําลังเ...
904,test2017/000000356168,ผู้ชายและผู้หญิงกําลังนั่งอยู่บนโซฟาสีม่วง
1020,test2017/000000231473,ผู้หญิงใส่เสื้อสีชมพูกําลังยืนอยู่ข้างเด็กผู้ห...
...,...,...
38762,test2017/000000085609,รถบัสสีม่วง 2 ชั้นกําลังจอดอยู่บนถนน ด้านหลังม...
39735,test2017/000000321077,แจกันดอกไม้และดอกไม้สีม่วงวางอยู่บนโต๊ะไม้สีน้...
39761,test2017/000000499769,ผู้ชายคนหนึ่งกําลังยืนถือร่มสีชมพูลายสีม่วงและ...
40032,test2017/000000182066,ผู้ชายสวมเสื้อแขนยาวสีม่วงสวมแว่นตาและกางเกงขา...
46450,test/travel/05780,ดอกไม้สีม่วงลายดอกไม้สีม่วง วางอยู่ในหญ้าสีเขียว

In [12]:
sum(df2["caption"].apply(lambda x: str(x).find('วง') != -1))

51

In [13]:
sum(df["caption"].apply(lambda x: str(x).find('เค้ก') != -1))

681

In [14]:
sum(df["caption"].apply(lambda x: str(x).find('เครื่องบิน') != -1))

992

In [15]:
sum(df["caption"].apply(lambda x: str(x).find('เครื่องปั่น') != -1))

63

In [18]:
sum(df["caption"].apply(lambda x: str(x).find('เรือ') != -1))

703